body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #ffffff;
	background: #17181a url(../images/body_bg.jpg) repeat-x;
}

table {
	height:100%;
	width:50%;
	border-collapse:collapse;
	background-color:#FFFFFF;

}
		
a:link { color: #ff0000; text-decoration: none; font-weight: normal; } 
a:visited { color: #ff0000; text-decoration: none; font-weight: normal; } 
a:active { color: #FFFF00; text-decoration: underline; }
a:hover  { color: #000000; text-decoration: none; }

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }
/* Заголовки   1-3 уровень */
h1 {
	margin: 0px;
	padding: 2px 0;
	font-size: 30px;
	font-weight: bold;
	color: #ff0000;	
}

h2 {
	margin: 0px;
	padding: 2px 0;
	font-size: 30px;
	font-weight: normal;
	color: #ff0000;	
}

h3 {
	margin: 0 0 10px 0;
	padding: 2px 0 15px 0;
	font-size: 26px;
	font-weight: normal;
	color: #ff0000;	
}

/* Всё для верхушки (top0) - НАЧАЛО */
#container {
	width: 980px;
	margin: 0 auto;
}
#title_bar {
	width: 960px;
	height: 120px;
	padding: 0 10px;
	background: url(../images/top0.jpg) no-repeat;
}

#title_bar  #site_title {
	float: left;
	width: 300px;
	margin-left: 95px;
	padding: 50px 0 0 0;
	text-align: center;
}

#site_title h1 a{
	margin: 0px;
	padding: 0px;
	font-size: 36px;
	color: #ff0000;
	font-weight: normal;
}

#site_title h1 a:hover {
	font-weight: normal;	

}

#site_title h1 a span {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	color: #ff0000;
}

#title_bar #top_menu {
	float:right;
	width: 124px;
	margin: 50px 0 0 0;
	padding: 0px;
}

#top_menu .contact_us a{                       /* Конвертик в верхней части */
	float: left;
	display: block;
	width: 49px;
	height: 52px;
	background: url(../images/contact.png) bottom no-repeat;
}
/* Всё для верхушки (top0) - КОНЕЦ */
/* Начало баннера */
#banner_bar {
	clear: both;
	width: 840px;
	height: 140px;
	padding: 60px 70px 30px 70px;
	text-align: center;
	background: url(../images/top1.jpg) no-repeat;
}

#banner_bar h2{
	color: #000000;
	margin-bottom: 30px;
}

#banner_bar p {
	font-size: 16px;
	margin-bottom: 30px;
}

.fr { float: right; }     /* Для кнопки Read More - справа */

.button_01 a {
	display: block;
	width: 120px;
	height: 22px;
	padding: 4px 0 0 0;
	background: url(../images/read_more.jpg) no-repeat;
	
	color: #ff0000;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.button_01 a:hover {
	color: #999999;
}
/* Конец баннера */

/* Начало менюшки */
#menu {
	clear: both;
	width: 960px;
	height: 56px;
	padding: 0 10px;
	background: url(../images/menu.jpg) no-repeat;
}

#menu ul {
	width: 600px;
	overflow: hidden;
	padding: 0px;
	margin: 0px auto;
	list-style: none;
}

#menu ul li{
	padding: 0px;
	margin: 0px;
	display: inline;
}

#menu ul li a{
	float: left;
	display: block;
	height: 28px;
	width: 115px;
	padding: 16px 0 0 0;
	font-size: 18px;
	text-align: center;
	font-weight: normal;
	text-decoration: none;
	color: #9a9789;
	outline: none;
}

#menu li a:hover, #menu li .current{    /* Страница, на которой находимся */
	color: #ff0000;
}
/* Конец менюшки! */
/* Начало основной части (текст и прочее) */
#content_osn {
	clear: both;
	width: 960px;
	padding: 0 10px;
	background: url(../images/content_bg.jpg) repeat-y;
}

#content_osn #content {
	width: 900px;
	padding: 30px;
	background: url(../images/content_gradient_bg.jpg) top center no-repeat;
}

#main_column {
	float: left;
	width: 720px;
}

#main_column p {
	text-align: justify;
	margin-bottom: 10px;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }   /* для заполнения бэкграунда */
/* Конец основной части */
/* Дополнительное меню и права - НАЧАЛО */
#konec_bar_osn {
	clear: both;
	width: 960px;
	padding: 0 10px;
	background: url(../images/content_bg.jpg) repeat-y;
}

#konec_bar {
	width: 900px;
	padding: 15px 30px;
	border-top: 1px solid #5A6060;
	background: #2A3030;
	text-align: center;
}
/* Конец */